
  <h3>Comments rating:</h3>
  <% @comments.each do |comment| %>
    <p class="comment"><%= comment.body %></p>
    <div class="comment-ratings">
      <%= render partial: 'user_comment_ratings/form', locals: { comment: @comment } %>
      <%= render partial: 'user_comment_ratings/index', locals: { comment: @comment } %>
    </div>
  <% end %>
  <p class="comment"><%= pluralize(@comments.count, 'Comment') %></p>
<%= link_to 'Back', topic_path(@post.topic), class: 'btn btn-show' %>
