<div class="topic-container">
  <h1><%= @topic.name %></h1>

  <!-- Add link to create a new post for this topic -->
  <%= link_to 'New Post', new_topic_post_path(@topic), class: 'btn btn-show' %>

  <!-- Display the list of posts for this topic -->
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post-container">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <h3>Comments:</h3>
        <% if post.comments.any? %>
          <% post.comments.each do |comment| %>
            <p><%= comment.body %></p>
          <% end %>
        <% else %>
          <p>No comments for this post.</p>
        <% end %>

        <div class="post-actions">
          <%= link_to 'Show', topic_post_path(@topic, post), class: 'btn btn-show' %>
          <%= link_to 'Edit', edit_topic_post_path(@topic, post), class: 'btn btn-edit' %>
          <%= button_to 'Delete', topic_post_path(@topic, post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'btn btn-delete' %>
        </div>

        <h3>Rating's Section:</h3>
        <div>
          <% (1..5).each do |values| %>
            <div class="rating">
              <% if post.ratings.where(value: values).any? %>
                <h6><%= pluralize(post.ratings.where(value: values).count, 'Rating') %> for <%= values %> Stars</h6>
              <% else %>
                No ratings for <%= values %> stars
              <% end %>
            </div>
          <% end %>
          <br>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No posts found for this topic.</p>
  <% end %>
</div>
<%= will_paginate(@posts) %>
<%= link_to 'Back to Topics', topics_path, class: 'btn btn-show' %>
