<h3>Rating's Section</h3>
<br>

<div>
  <%= form_with(model: [@post, @post.ratings.build], url: post_ratings_path(@post)) do |f| %>
    <%= f.radio_button :value, 1 %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20"  alt="star 1">
    <%= f.radio_button :value, 2 %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star 2">
    <%= f.radio_button :value, 3 %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star 3">
    <%= f.radio_button :value, 4 %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star 4">
    <%= f.radio_button :value, 5 %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star 5">
    &nbsp;&nbsp;
    <%= f.submit 'Submit Rating', class: 'btn btn-success' %>
  <% end %>

  <hr>
  <% (1..5).each do |values| %>
    <div class="rating">
      <% if @ratings[values].present? %>
        <h6><%= pluralize(@ratings[values], 'Rating') %> for <%= values %> Stars</h6>
      <% else %>
        No ratings for <%= values %> stars
      <% end %>
    </div>
  <% end %>
  <br>

  <h4><img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star"> Average Ratings <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star"></h4>
  <% a = @post.ratings.average(:value) %>

  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= a.to_i %></h4>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% a.to_i.times do %>
    <img src="https://cdn-icons-png.flaticon.com/512/477/477406.png" height="20" width="20" alt="star">
  <% end %>
</div>
